//***vdoing主题-样式变量（你可以修改这些变量值以覆盖主题使用的样式变量）***//

// 以下注释的变量仅供参考，主题使用的最新变量请查看：https://github.com/xugaoyi/vuepress-theme-vdoing/blob/master/theme-vdoing/styles/palette.styl

// // 颜色
.home-wrapper .card-box {
  background: none;
  border-shadow: none;
  }
.home-wrapper .banner{
  background:none !improtant;
}
.home-wrapper .banner{ 
  background: none !important;
  min-height: 0
}

// 修改容器样式
.theme-mode-dark .custom-block.note{
  background-color: #012f6b74;
  border: 2px solid #206aff;
  border-radius: 10px;
  color: #b9d0ff;
  padding: 30px;
}
.theme-mode-dark .custom-block.note .custom-block-title{
  color: #206aff;
}
.theme-mode-light .custom-block.note{
  background-color: rgba(142, 168, 254, 0.548);
  border: 2px solid #2881ff;
  border-radius: 10px;
  color: #1b1b1b;
  padding: 30px;
}
.theme-mode-light .custom-block.note .custom-block-title{
  color: #206aff;
}


.theme-mode-dark .custom-block.tip{
  background-color: rgba(11, 124, 43, 0.285);
  border: 2px solid #0cff79;
  border-radius: 10px;
  color: #bdffeb;
  padding: 30px;
}
.theme-mode-dark .custom-block.tip .custom-block-title{
  color: #0cff79;
}
.theme-mode-light .custom-block.tip{
  background-color: rgba(10, 222, 70, 0.285);
  border: 2px solid #0cff79;
  border-radius: 10px;
  color: #0f0f0f;
  padding: 30px;
}
.theme-mode-light .custom-block.tip .custom-block-title{
  color: #087c3d;
}
.theme-mode-dark .custom-block.warning{
  background-color: rgba(124, 105, 11, 0.285);
  border: 2px solid #ffb20d;
  border-radius: 10px;
  color: #feffbd;
  padding: 30px;
}
.theme-mode-dark .custom-block.warning .custom-block-title{
  color: #ffb20d;
}
.theme-mode-light .custom-block.warning{
  background-color: rgba(241, 201, 2, 0.285);
  border: 2px solid #ffb20d;
  border-radius: 10px;
  color: #060606;
  padding: 30px;
}
.theme-mode-light .custom-block.warning .custom-block-title{
  color: #ffb20d;
}


$bannerTextColor = rgb(67, 108, 242)// 首页banner区(博客标题)文本颜色
$accentColor = rgb(0, 145, 255)// 主题色
// $activeColor = #ff5722
// $arrowBgColor = #ccc

// // 布局
 $navbarHeight = 4.9rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
 $homePageWidth = 1500px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// // 浅色模式
 .theme-mode-light
   --bodyBg: linear-gradient(to bottom right, rgb(254, 255, 250), rgb(230, 244, 252))
   --mainBg: rgb(255, 255, 255)
   --sidebarBg: rgba(255,255,255,.8)
//   --blurBg: rgba(255,255,255,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   // 代码块浅色主题
//   --codeBg: #f6f6f6
//   --codeColor: #525252
//   codeThemeLight()
//   // // 代码块深色主题
//   // --codeBg: #252526
//   // --codeColor: #fff
//   // codeThemeDark()

// // 深色模式
 .theme-mode-dark
     --bodyBg: rgb(0, 0, 0)
     --mainBg: rgb(0, 0, 0)
//   --sidebarBg: rgba(30,30,34,.8)
//   --blurBg: rgba(30,30,34,.8)
//   --textColor: rgb(140,140,150)
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A
//   --codeBg: #252526
//   --codeColor: #fff
//   codeThemeDark()

// // 阅读模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()
